<!DOCTYPE html>
<html>
<head>
<script>
var templist=[];
{% for item in data %}
  var H1={{ item.lat }};
  var H2={{ item.lon }};
  var H3={{ item.depth }};
  var H4={{ item.averageWaterYield}};
  var H5={{ item.farm}};
  templist.push(H1);
  templist.push(H2);
  templist.push(H3);
  templist.push(H4);
  templist.push(H5);
{% endfor %}

var farms=[];
{% for item in data1 %}
  var H1={{ item.id }};
  var H2={{ item.area }};
  var H3={{ item.house }};
  farms.push(H1);
  farms.push(H2);
  farms.push(H3);
{% endfor %}


var details=[];
{% for item in data2 %}
  var H1={{ item.house }};
  var H2="{{ item.name }}";
  var H3="{{ item.gender }}";
  var H4={{ item.age }};
  details.push(H1);
  details.push(H2);
  details.push(H3);
  details.push(H4);
{% endfor %}
</script>


<div id="container"></div>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple markers</title>
    <style>

      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var map;
      function initMap() {
        //var features=[]
        //var templist = {{lst}}
        console.log(templist);
        console.log(farms);
        console.log(details);
        map = new google.maps.Map(document.getElementById('map'), {
        zoom: 32,
        center: new google.maps.LatLng(12.5114887, 80.043983),
        mapTypeId: 'roadmap'
        });
        var k=0;
        var con=[];
        for (var i=0;i < templist.length ; i=i+5)
        {
            Lat=templist[i];
            Lon=templist[i+1];
            var temp={position: new google.maps.LatLng(Lat,Lon), type: 'well'};
            var depth = templist[i+2];
            var avgyield= templist[i+3];
            var farm = templist[i+4];
            for(var j=0 ; j<farms.length ; j=j+3)
            {
              if(templist[i+4]==farms[j])
              {
                var area=farms[j+1];
                var house = farms[j+2];
              //  console.log(details[1]);
                for(var y=0; y<details.length; y=y+4)
                {
                  if(farms[j+2]== details[y])
                  {
                    console.log(details[y+1]);
                    var name = details[y+1];
                    var gender = details[y+2];
                    var age = details[y+3];
                  }
                }
              }
            }
            var contentString = '<div id="content">'+
         '<div id="siteNotice">'+
         '</div>'+
         '<div id="bodyContent">'+
         '<p><h5>Latitude: '+Lat.toString()+'</h5></p>' +
         '<p><h5>Longitude: '+Lon.toString()+'</h5></p>' +
         '<p><h5>Name: '+name.toString()+'</h5></p>' +
         '<p><h5>Gender: '+gender.toString()+'</h5></p>' +
         '<p><h5>Age: '+age.toString()+'</h5></p>' +
         '<p><h5>FarmNo.: '+farm.toString()+'</h5></p>' +
         '<p><h5>Depth.: '+depth.toString()+'</h5></p>' +
         '<p><h5>AvgYield.: '+avgyield.toString()+'</h5></p>' +
         '</div>' +
         '</div>';
         con.push(contentString);
            createwell(k,Lat,Lon);
            k++;
        }


        function createwell(k,Lat,Lon){
       var place = {lat :Lat, lng: Lon};
            infowindow = new google.maps.InfoWindow();
           var marker = new google.maps.Marker({
            position: place,
          icon: "/static/images/well.png",
            map: map
            });
            marker.addListener('click' , function() {
            infowindow.setContent(con[k]);
            infowindow.open(map,marker);
          });

        }

      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiagBm99wkI5tOWuKdCF9bV4Au2wiNyqg&callback=initMap">
    </script>
  </body>
</html>


  
